[submodule "rzg2-flash-writer"]
	path = rzg2-flash-writer
	url = git@git.g77k.com:supercatexpert/rzg2-flash-writer.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = git@git.g77k.com:supercatexpert/rzg2-arm-trusted-firmware.git
[submodule "renesas-u-boot-cip"]
	path = renesas-u-boot-cip
	url = git@git.g77k.com:supercatexpert/rzg2-uboot.git
