[submodule "rzg2-flash-writer"]
	path = rzg2-flash-writer
	url = https://github.com/ariaboard-com/renesas_rzg2e_flash_writer.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/ariaboard-com/renesas_rzg2e_arm_trusted_firmware.git
[submodule "renesas-u-boot-cip"]
	path = renesas-u-boot-cip
	url = https://github.com/ariaboard-com/renesas_rzg2e_uboot.git
[submodule "linux-cip"]
	path = linux-cip
	url = https://github.com/ariaboard-com/renesas_rzg2e_kernel.git
